@mixin container {
    @include clearfix;
    max-width: $container-max-width;
    margin: 0 auto;
}

@mixin span($columns, $centered: false, $fill: false) {
    @if $centered == true {
        float: none;
        margin-left: auto;
        margin-right: auto;
    } @else {
        float: left;
        margin-left: $grid-padding;
        &:first-of-type {
            margin-left: 0;
        }
    }
    @if $fill == true {
        padding-left: 0;
        padding-right: 0;
    }
    @if $columns == $grid-columns {
        width: $columns * ($column-width + $grid-padding) - $grid-padding;
        margin-left: 0;
    } @else {
        width: $columns * ($column-width + $grid-padding) - $grid-padding;
    }
}

@mixin push($columns) {
    margin-left: $columns*($column-width + $grid-padding)
}

.fill {
    width: 100%;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row {
    @include clearfix;
    width: 100%;
    padding: 0.5em 1em;
}

.panel {
    background-color: rgba($ivory, .7);
    @include span(12, true, true);
    @include clearfix();
    @media only screen and (min-width: $break-small) {
        @include span(8, true, true);
    }
    @media only screen and (min-width: $break-med) {
        @include span(6, true, true);
    }
    @media only screen and (min-width: $break-large) {
        @include span(4, true, true);
    }
}