.save-the-date{
    position:relative;
    width: 200%;
    height: 100%;
        @include clearfix();
    @include transition(transform 1s);
    &.reveal-form {
        @include transform(translate3d(-50%, 0, 0));
    }
}

#reveal-form a{
    font-size: 1.5em;
    @media only screen and (min-width: $break-small){
        font-size: 2em;
    }
}

.call-to-action {
    cursor: pointer;

    .heart {
        @include transition(color $nav-anim-speed);
        color: $brown;
    }
    &:hover .heart{
        color: $warning;
    }
    &:hover .arrow-left {
        @include transform(translate3d(0,0,0));
    }
    &:hover .arrow-right {
        @include transform(translate3d(0,0,0));
    }
}

.invitation-background {
    @include background-image(linear-gradient(90deg, rgba($ivory, 1) percentage(9/10), rgba($ivory, 0)));
    float: left;
    width: 100%;
    min-height: 100%;
    .invitation {
        float: left;
        width: percentage(9/10);
        .cuties {
            width: 80%;
            margin: -2em auto 1em;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    @media only screen and (min-width: $break-small){
        max-width: $break-small;
        @include background-image(linear-gradient(90deg, rgba($ivory, 1) percentage(7/8), rgba($ivory, 0)));
         .invitation {
            width: percentage(7/8);
            .cuties {
                width: 50%;
                margin: 0 auto 3em;
        }
        }
    }
    @media only screen and (min-width: $break-med){
        width: percentage(2/3);
        max-width: $break-med;
        @include background-image(linear-gradient(90deg, rgba($ivory, 1) percentage(3/4), rgba($ivory, 0)));
         .invitation {
            width: percentage(3/4);
            .cuties {
                width: 50%;
                margin: -1em auto 2em;
            }
        }
    }

}

.invite.rsvp {
    height: 100%;
    @include clearfix();
    width: 50%;
    float:left;
    .header {
        color: $brown;
        h1{
            color: $brown;
            border-color: $brown;
        }
    }
}

.rsvp-form{
    width: 50%;
    float: right;
}

.info, .arrow {
    font-size: 0.85em;
    @include span(5.25);
    &:first-of-type{
        text-align: left;
    }
    &:last-of-type{
        text-align: right;
    }
    @media only screen and (min-width: $break-small){
        font-size: 1.2em;
    }
    @media only screen and (min-width: $break-med){
        font-size: 1.5em;
    }
}

.arrows {
    padding-top: 0.5em;
    width: 75%;
    @media only screen and (min-width: $break-small){
        padding-top: 0.75em;
    }
    @media only screen and (min-width: $break-small){
        width: 66.67%;
        padding-top: 1em;
    }
}

.arrow {
    position: relative;
    height: 36px;
    @include transition(transform $nav-anim-speed);
    .rod {
        position: absolute;
        top: 0;
        bottom: 0;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom:0;
        width: 25px;
    }
}

.arrow-left{
    @include transform(translate3d(10px,0,0));
    .rod {
        left: 25px;
        right: 12.5px;
        background: url("../images/arrow.png") repeat-x right center/100% 100%;
        }
    &:before {
        left: 0px;
        background: url("../images/arrowhead-left.png") no-repeat center right/80% 50%;
    }
    &:after {
        right: 0px;
        background: url("../images/fletch-left.png") no-repeat center left/100% 50%;
    }
}

.arrow-right{
    @include transform(translate3d(-10px,0,0));    .rod {
        left: 12.5px;
        right: 25px;
        background: url("../images/arrow.png") repeat-x left center/100% 100%;
        }
    &:after {
        right: 0px;
        background: url("../images/arrowhead-right.png") no-repeat center left/80% 50%;
    }
    &:before {
        left: 0px;
        background: url("../images/fletch-right.png") no-repeat center right/100% 50%;
    }
}

.heart {
    color: $warning;
    @include span(1.5);
    font-size: 0.67em;
    @media and screen and (mind-width: $break-med){
        font-size: 0.75em;
    }
}

.rsvp {
    .header {
        color: $ivory;
        max-width: 8em;
        margin-bottom: 3em;
        @include clearfix();
        @media only screen and (min-width: $break-small){
            max-width: 10.5em;
        }
        @media only screen and (min-width: $break-med){
            max-width: 14em;
        }

        h1 {
            font-size: 2.25em;
            line-height: 1.25em;
            margin-bottom: 0.125em;
            border-bottom: 2px solid $ivory;
            @media only screen and (min-width: $break-small) {
                font-size: 3em;
            }
            @media only screen and (min-width: $break-med) {
                font-size: 4em;
                margin-bottom: 0.25em;
            }
        }
    }

    h2.title-bar{
        font-size: 1.5em;
        background-color: rgba($brown, 0.9);
        padding: 0.5em;
        margin: -1.25em 25% 0;
        @media only screen and (min-width: $break-small){
            margin: -1em 25% 0;
            font-size: 2em;
        }
    }
    h3 {
        color: $brown;
        font-size: 2em;
        line-height: 1.25em;
        margin: 0.5em auto;
        padding: 0.5em;
    }
}

.guest-rsvp {
    padding: 0.75em 0;
    &.form-header, &:last-child {
        margin-bottom: 1em;
    }
    .title {
        font-size: 1.25em;
        border-bottom: 1px solid $brown;
    }
    .guest-name {
        @include span(6);
        @media only screen and (min-width: $break-small){
            @include span(5);
        }
    }
    ul{
        @include span(6);
        @media only screen and (min-width: $break-small){
            @include span(5);
            float:right;
        }
        li {
            @include span(6);
        }
    }
    input[type="submit"] {
        font-size: 2em;
    }
}

.countdown {
    margin: 1em auto 0;
    max-width: 12em;
    @media only screen and (min-width: $break-large) {
        max-width: none;
        padding: 0.25em;
    }
}

.time {
    background-color: rgba($ivory, 0.5);
    color: $brown;
    font-size: 2.5em;
    line-height: 1.5;
    border-bottom: 3px solid $ivory;
    &:last-of-type{
        border-bottom:none;
    }
    @media only screen and (min-width: $break-large) {
        padding: 0 0.25em;
        border-bottom: none;
        border-right: 3px solid $ivory;
        display: inline-block;
        width: 3.5em;
        &:last-of-type{
            border-right:none;
        }
    }
}

h1.home {
    font-size: 2.5em;
    line-height: 1.25;
    @media only screen and (min-width: $break-large) {
        font-size: 4em;
    }
}