{% extends 'admin-base.html' %}

{% block content %}

<div class="admin">
    <h1>Emails</h1>
    <div class="content">
    <div class="row">
        <a class="button fill center" href="{{url_for('auth.send_all')}}">Send All Emails!</a>
    </div>
    {% for group in groups %}
        <div class="row">
            <div class="email group name">{{ group.name }}</div>
            <div class="email group" id="email">{{ group.email }}</div>
            <div class="email group send buttons"><a class="button" href="{{url_for('auth.send_invite', id=group.id)}}">Send Email</a></div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}