<div class="invite rsvp center">
    <div class="invitation-background">
        <div class="invitation">
            <div class="center header">
                <h1>Save the Date</h1>
                <div class="info when">July 3rd, 2016</div>
                <div class="heart"><i class="fa fa-heart"></i></div>
                <div class="info where">San Diego, CA</div>
            </div>
            <div class="cuties">
                <img src="{{ url_for('static', filename='images/Lovebirds.jpg') }}">
            </div>
            <div id="reveal-form" class="call-to-action">
                <a href="#">Click Here to RSVP</a>
                <div class="arrows center">
                    <div class="arrow arrow-right"><div class="rod"></div></div>
                    <div class="heart"><i class="fa fa-heart"></i></div>
                    <div class="arrow arrow-left"><div class="rod"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>