{% extends 'base.html' %}

{% block content %}

<div class="rsvp center">
    <div class="center header">
        <h1>Save the Date</h1>
        <div class="info when">July 3rd, 2016</div>
        <div class="heart"><i class="fa fa-heart"></i></div>
        <div class="info where">San Diego, CA</div>
    </div>
    <div class="panel">
        <div class="row"></div>
        <h3>Thank you!!!</h3>

    <div class="row"><a class="center button" href="{{ url_for('rsvp.guest_rsvp', show_form='true')}}">Click here to change your RSVP</a></div>
</div>
{% endblock %}